
@tailwind base;

/* my resets */
html, body {
  height: 100%;
}

body {
  font-size: 16px;
  @apply select-none;
}

svg {
  fill: currentColor;
}
/* my resets end */

@tailwind components;

@tailwind utilities;

/* put custom utilities here */

.sudoku-grid > :nth-child(4n + 2) {
  @apply border-r-4 border-gray-800
}

.sudoku-grid > :nth-child(-n + 8):nth-child(n + 5) {
  @apply border-b-4 border-gray-800
}

@media (orientation: landscape) {
  .sudoku-grid {
    width: 60vh;
    height: 60vh;
  }
}

@media (orientation: portrait) {
  .sudoku-grid {
    width: 80vw;
    height: 80vw;
  }
}
