
@tailwind base;

/* my resets */
html, body {
  height: 100%;
}

body {
  font-size: 16px;
}

svg {
  fill: currentColor;
}
/* my resets end */

@tailwind components;

@tailwind utilities;

/* put custom utilities here */


